---
import PageLayout from "../layout/PageLayout.astro";

const pageTitle = "Hem";
const allPosts = await Astro.glob("./posts/*.md");

allPosts.reverse();
---

<style>
	img {
		background-color: black;
	}
	.date{
		font-style: italic;
	}
	.card-flex{
		display: flex;
		flex-direction: column;
		justify-content: end;
	}
	.read-more-btn{
		width: fit-content;
	}
</style>

<PageLayout pageTitle={pageTitle}>
	<div class="container img-grid">
		{
			allPosts.map((post) => (
				<div class="card">
					<a href={post.url}>
						<img
							class="card-img-top"
							src={post.frontmatter.images[0]?.url}
							alt={post.frontmatter.images[0]?.alt}
						/>
					</a>
					<div class="card-body card-flex">
						<h2 class="card-title">{post.frontmatter.title}</h2>
						<p class="card-text">{post.frontmatter.description}</p>
						<p class="card-text date">
							{post.frontmatter.date.slice(0, 10)}
						</p>
						<a class="btn btn-primary read-more-btn" href={post.url}>
							Läs mer
						</a>
					</div>
				</div>
			))
		}
	</div>
</PageLayout>
