---
import PageLayout from "../layout/PageLayout.astro";

const pageTitle = "";
const allPosts = await Astro.glob("./posts/*.md");

allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

// allPosts.forEach((p) => {
//   if (p.frontmatter.images <= 0) {
//     p.frontmatter.images = [{ src: "/icons/JFFLogo1.svg", alt: "jff logotyp" }];
//   }
// });
---

<PageLayout pageTitle={pageTitle}>
  <article class="flex flex-col gap-8">
    <section class="flex justify-between card-text">
      <div class="flex flex-col gap-8 items-center p-8 grow basis-1/2 bg-beige">
        <h2 class="">Välkommen</h2>
        <img
          class="size-52"
          src="icons/JFFLogo1.svg"
          alt=""
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iusto sit a expedita incidunt. Quasi, adipisci soluta rem at, magni et eum ullam qui
          cumque ad magnam, facilis nisi illo?
        </p>
        <a
          class="btn"
          href="bli-medlem"
          >Bli medlem</a
        >
      </div>
      <div class="hidden sm:flex grow basis-1/2 bg-blue-500">
        <img
          src="/public/images/Pallarp/DSC_1847-1024x685.jpg"
          alt=""
        />
      </div>
    </section>

    <section class="pside px-smallScreen py-10 lg:px-largeScreen lg:py-24">
      <h2>Nyheter</h2>
    </section>
    <div class="card-text grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-smallScreen lg:px-largeScreen 2xl:px-extraLargeScreen">
      {
        allPosts.map((post) => (
          <div class="card shadow-xl bg-beige">
            <figure class="w-full h-80">
              <a
                href={post.url}
                class="w-full h-full">
                <img
                  class="w-full h-full object-contain "
                  src={post.frontmatter.images[0]?.src}
                  alt={post.frontmatter.images[0]?.alt}
                />
              </a>
            </figure>
            <div class="card-body">
              <h2 class="card-title">{post.frontmatter.title}</h2>
              <p>{post.frontmatter.description}</p>
              <p class="italic">{post.frontmatter.date.slice(0, 10)}</p>
              <div class="card-actions">
                <a
                  class="btn btn-primary read-more-btn"
                  href={post.url}>
                  Läs mer
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </article>
</PageLayout>
